*{
box-sizing: border-box;
}

img {
max-width: 300px;
}

body {
font-family: Arial, sans-serif;
background: #f4f4f4;
padding: 20px;
}

h1 {
text-align: center;
}

.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap:30px;
justify-items: center;
}

.gallery > * {
width: 300px;
height: 200px;
}

.gallery img {
width: 100%;
height: 100%;
object-fit: contain;
}

/*Penguins*/
.oval{
width: 100%;
border-radius: 50%;
}

/*Football field with tic-tac-toe*/
.tic-field {
width: 600px;
height: 250px;
background-image: url("tic-tac-toe.png"), url("football_field.jpg");
background-repeat: no-repeat, no-repeat;
background-size: 100% 100%, cover;
background-position: center, center;
}

/*Dinosaur*/
.color-shift {
filter: drop-shadow(8px 8px 6px rgba(0,0,0,0.35));
}

/*Seagull*/
.shadowed {
width: 100%;
background-image: linear-gradient(#c6c4ff, #a9a6ff);
padding: 20px;
border-radius: 10px;
}

/*Butterfly*/
.filtered {
width: 100%;
max-width: 400px;
filter: hue-rotate(200deg) saturate(2);
border-radius: 80px 0 80px 0;
}

/*Stage*/
.stage {
height: 200px;
width: 100%;
background-image:
linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
url("theater_stage.jpg");
background-size: cover;
background-position: center;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-size: 24px;
}

